$form-shadow: 2px 2px 10px 0px rgba(50, 50, 50, 0.4);
.auth {
  margin: 0 auto;
  &-MainHeader {
    font-size: 64px;
    font-weight: bold;
    margin-top: 24px;
  }
  &-Form {
    margin: 24px 0;
    background: #FAFAFA;
    border: 1px solid #ccc;
    padding: 12px;
    -webkit-box-shadow: $form-shadow;
    -moz-box-shadow: $form-shadow;
    box-shadow: $form-shadow;
    &__header {
      font-size: 24px;
      font-weight: bold;
      margin-bottom: 8px;
    }
    &__button {
      margin-right: 10px;
      &:focus ~ label {
        color: teal;
      }
    }
  }
}

