@mixin useShadow($shadow-color) {
  -webkit-transform: 2px 2px 10px 0px $shadow-color;
  -ms-transform: 2px 2px 10px 0px $shadow-color;
  transform: 2px 2px 10px 0px $shadow-color;
}
$error-backgroud-color: #ef5350;
$error-border-color: #c62828;
$success-backgroud-color: #4caf50;
$success-border-color: #2e7d32;
.messagePopup {
  position: fixed;
  top: 40px;
  right: 40px;
  color: #FFF;
  &-Body__ {
    font-size: 14px;
    font-weight: bold;
    &success {
      background-color: #4caf50;
      border: 1px solid #2e7d32;
      @include useShadow(#2e7d32);
    }
    &error {
      background-color: $error-backgroud-color;
      border: 1px solid $error-border-color;
      @include useShadow($error-border-color);
    }
  }
}